{% extends 'masonry_grid_system.html' %}

{% block content %}
{% for prob in Problems %}
    <div class="masonry-grid-item">
      <a href="{% url 'Problem' prob.id %}" style="text-decoration: none;">
        <div class="card hover-effect">
        {% if prob.image %}
        <img src="{{prob.image.url}}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <div>
            <span class="badge" style="background-color: {{ prob.dif_tag.color }}; color: white; margin-right:8px;">
              {{ prob.dif_tag.name }}
            </span>



            {% for type in prob.type_tags.all %}
              <span class="badge" style="background-color: {{ type.color }}; color: white;">
                {{ type.name }}
              </span>
            {% endfor %}

          </div>
          
          <h5 class="card-title">{{prob.title}}</h5>
          <p class="card-text">{{prob.text|truncatewords:30}}</p>
        </div>
      </div>
      </a>
    </div> 
  {% endfor %}   

{% endblock %}