{% extends 'masonry_grid_system.html' %}
{% load latex_safe_truncate %}
{% block content %}

{% for card_obj in Card_objs|slice:":80" %}
  {% if card_obj.class_name == "Problem" %}
    <div class="masonry-grid-item">
      <a href="{% url 'Problem' card_obj.id %}" style="text-decoration: none;">
        <div class="card hover-effect" style="overflow: hidden;">
          {% if card_obj.image %}
            <img src="{{ card_obj.image.url }}" alt="Problem Image" class="card-img-top">
          {% endif %}

          <div class="card-body">
            <div>
              <span class="badge"
                    style="box-shadow: 0 0 10px {{card_obj.dif_tag.color}}; text-shadow: 1px 1px 5px gray; background-color: {{ card_obj.dif_tag.color }}; color: white; margin-right: 8px;">
                {{ card_obj.dif_tag.name }}
              </span>

              {% for type in card_obj.type_tags.all %}
                <span class="badge"
                      style="background-color: {{ type.color }}; color: white;">
                  {{ type.name }}
                </span>
              {% endfor %}
            </div>

            <h5 class="card-title">{{ card_obj.title }}</h5>
            <p class="fs-5">{{ card_obj.text|linebreaksbr|latex_truncate:100 }}</p>
          </div>
        </div>
      </a>
    </div>

  {% elif card_obj.class_name == "Bundle" %}
    <div class="masonry-grid-item bundle-card" style="overflow: hidden;">
      <a href="{% url 'Bundle' card_obj.id %}" style="text-decoration: none;">
        <div class="card hover-effect">
          {% if card_obj.image %}
            <img src="{{ card_obj.image.url }}" alt="Bundle Image" class="card-img-top">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ card_obj.title }}</h5>
            <p class="card-text">{{ card_obj.description|latex_truncate:100 }}</p>
          </div>
        </div>
      </a>
    </div>
  {% endif %}
{% endfor %}

{% endblock %}
