<div class="masonry-grid">
  {% block content %}  
  {% endblock %}
  <div style="clear: both;"></div>
  <br>
</div>
<div style="clear: both;"></div>
<br>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

<script>

function resizeMasonryGrid() {
  const grid = document.querySelector('.masonry-grid');
  if (!grid) return;

  const rowHeight = parseInt(getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
  const gap = parseInt(getComputedStyle(grid).getPropertyValue('gap'));
  const items = grid.querySelectorAll('.masonry-grid-item');

  items.forEach(item => {
    const card = item.querySelector('.card');
    if (!card) return;

    const height = card.getBoundingClientRect().height;
    const rowSpan = Math.ceil((height + gap) / rowHeight);
    item.style.setProperty('--row-span', rowSpan);
  });
}

// Recalcular cuando carguen TODAS las imágenes
imagesLoaded('.masonry-grid', resizeMasonryGrid);

// Recalcular cuando MathJax termine
document.addEventListener("mathjax-rendered", resizeMasonryGrid);

// Recalcular en resize
window.addEventListener('resize', () => requestAnimationFrame(resizeMasonryGrid));

document.addEventListener("DOMContentLoaded", resizeMasonryGrid);

window.addEventListener('load', () => {
  setTimeout(() => {
    resizeMasonryGrid();
  }, 100); // 100ms = 0.1s
});

</script>

