{% extends 'masonry_grid_system.html' %}

{% block content %}

{% for bund in Bundles %}
    <div class="masonry-grid-item">
      <a href="" style="text-decoration: none;">
        <div class="card">
        {% if bund.image %}
        <img src="{{bund.image.url}}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{bund.title}}</h5>
          <p class="card-text">{{bund.description|truncatewords:30}}</p>
        </div>
      </div>
      </a>
    </div> 
  {% endfor %}   

{% endblock %}