{% extends "base.html" %}

{% block title %} Title1 {% endblock %}

{% block content %}

  {% if bool %}
    wqrt4i5gkdfsñwqrwgr
  {% endif %}


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="get" action="">
          <div class="input-group mb-3">
            <select name="Dif" class="form-select" style="max-width: 150px;">
              <option {% if not dif_selected %} selected {% endif %} value="0">All difficulties</option>
              {% for dif_type in dif %}
                <option  value="{{dif_type.id}}" {% if dif_selected == dif_type.id %} selected {% endif %} >{{dif_type.name}}</option>
              {% endfor %}
            </select>
            <select name="Type" class="form-select" style="max-width: 150px;">
              <option {% if not type_selected %} selected {% endif %} value="0">All types</option>
              {% for type in types %}
                <option value="{{type.id}}" {% if type_selected == type.id %} selected {% endif %}>{{type.name}}</option>
              {% endfor %}
            </select>
            <input name="Text" type="text" class="form-control" {% if text_selected %} value="{{text_selected}}" {% endif %} placeholder="Search...">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if Problems %}

    {% include 'grid_problems_display.html' %}

  {% elif dif_selected != 0 or type_selected != 0 or text_selected != ""  %}

    <div style="  display: flex; justify-content: center;">
      <div class="alert alert-danger text-center" style="width: 25%;">There is no coincidence</div>
    </div>

  {% endif %}

{% endblock %}