{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

<br>
<div style=" display: flex; flex-direction: row; ">
  <h1 class="mb-3"> &nbsp{{ profile_user }}  </h1> 

   {% if profile_user == request.user %}
    <a class="btn btn-success" style="vertical-align: baseline; margin: 10px; " href="{% url 'EditUser' %}">Edit profile</a>
   {% endif %}
</div>
  
  <p class="fs-5">{{ bund.description }}</p>
  <br>

  <button id="LikeBTN" {% if request.user.is_authenticated %} class="btn btn-success btn-lg" {% else %} class ="btn btn-secondary" disabled {% endif %}>
    <span id="likes-emoji">
      {% if request.user in bund.likes.all %}
        ♥︎
      {% else %}
        ♡
      {% endif %}
    </span>
    <span id="likes-count">{{bund.likes_count}}</span>
  </button>


  <br><br>
  {% if not request.user.is_authenticated %}
    <a href="{% url 'Login' %}" class="btn btn-info btn-lg" style="color: white;">
     Not logged in? Click here to log in.
    </a>
  {% endif %}

  <div>
    {% if Card_objs %}
      {% include 'grid_display.html' %}
    {% endif %}
  </div>

<div style="clear: both;"></div>
<br>

<!-- En un fututo puede que haya sistema de followers, por ahora no -->
<!-- <script>
document.addEventListener("DOMContentLoaded", function() {
  const LikeBTN = document.getElementById('LikeBTN')

  LikeBTN.addEventListener("click", function() {

    fetch("{% url 'Like_Bundle' bund.id %", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }",
        "Content-Type": "application/json"
      }
    })
    .then(res => res.json())
    .then(data => {
        // Cambiar icono segun estado
        document.getElementById("likes-emoji").textContent = data.liked ? "♥︎" : "♡";

        // Actualizar número mostrado
        document.getElementById("likes-count").textContent = data.likes_count;
    });
  });
});
</script> -->
{% endblock %}
