{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="width: 380px;">

    <h3 class="text-center mb-4">
      {% if login %}
        Login
      {% else %}
        Create your account
      {% endif %}
    </h3>

    <form method="post">
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-3">
          <label class="form-label">{{ field.label }}</label>
          {{ field }}
          <div class="text-danger small">{{ field.errors }}</div>
        </div>
      {% endfor %}

      <button class="btn btn-primary w-100">Registrarse</button>
    </form>

  </div>
</div>

{% endblock %}
